<table cellpadding="0" cellspacing="0" border="0" style="" width="435" align="center">
    <tr>
        <td align="left" valign="top" style="padding:30px 0 0;"></td>
    </tr>
    <tr>
        <td align="left" valign="top" style="box-shadow:0 0 10px rgba(0,0,0,0.15); background:#fff; padding:0;">
            <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                <tr>
                    <td align="center" valign="top" class="fallback-text"
                        style="padding:17px 20px 14px; background:#00b74b;">
                        <a target="_blank" href="#"><img src="cid:logoImage" alt=""></a>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text"
                        style="padding:25px 20px 22px; font-weight:700; font-size:18px; color:#00a242; font-family: 'Nunito', sans-serif; box-shadow:0 10px 10px rgba(0,0,0,0.15);">
                        Hello, {{name}} </td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text" style="padding-top:30px"></td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text" style=""><img src="cid:completedImage" alt="">
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text" style="padding-top:30px"></td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text"
                        style="font-family: 'Nunito', sans-serif; font-size:16px; color:#333333; font-weight:600; padding:0 20px;">
                        You are at</td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text" style="padding-top:8px"></td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text"
                        style="font-family: 'Nunito', sans-serif; font-size:16px; color:#00a242; font-weight:600; padding:0 20px;">
                        Station ID : {{stationId}} / {{connecctorId}}</td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text" style="padding-top:30px"></td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text" style="padding:0 20px;">
                        <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                            <tr>
                                <td align="center" valign="top" class="fallback-text"
                                    style="box-shadow:0 0 10px rgba(0,0,0,0.15); font-family: 'Nunito', sans-serif; font-weight:600; font-size:16px; color:#333333; border-radius:10px; padding:14px 0 15px;">
                                    Amount Charged &nbsp;&nbsp;<strong
                                        style="color:#008436; font-weight:900;">${{price}}</strong></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text" style="padding-top:20px"></td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text" style="padding:0 20px;">
                        <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                            <tr>
                                <td align="center" width="45%" valign="top" class="fallback-text"
                                    style="box-shadow:0 0 10px rgba(0,0,0,0.15); border-radius:10px; padding:14px 0 15px;">
                                    <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                                        <tr>
                                            <td align="center" valign="top" class="fallback-text"
                                                style="font-family: 'Nunito', sans-serif; font-weight:600; font-size:16px; color:#333333;">
                                                Charge Time</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" class="fallback-text"
                                                style="font-family: 'Nunito', sans-serif; font-weight:600; font-size:16px; color:#008436;">
                                                {{time}} </td>
                                        </tr>
                                    </table>

                                </td>
                                <td align="center" width="10%" valign="top" class="fallback-text"></td>
                                <td align="center" width="45%" valign="top" class="fallback-text"
                                    style="box-shadow:0 0 10px rgba(0,0,0,0.15); border-radius:10px; padding:14px 0 15px;">
                                    <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                                        <tr>
                                            <td align="center" valign="top" class="fallback-text"
                                                style="font-family: 'Nunito', sans-serif; font-weight:600; font-size:16px; color:#333333;">
                                                Unit Charged</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" class="fallback-text"
                                                style="font-family: 'Nunito', sans-serif; font-weight:600; font-size:16px; color:#008436;">
                                                {{unit}} </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text" style="padding-top:50px"></td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text" style="padding:0 20px;">
                        <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                            <tr>
                                <td align="center" valign="top" class="fallback-text" style="" width="100%" height="1"
                                    bgcolor="#cdcdcd"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text" style="padding-top:15px"></td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text"
                        style="font-family: 'Nunito', sans-serif; font-size:16px; color:#00a242; font-weight:600; padding:0 20px;">
                        Thank-you for choosing</td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text"
                        style="font-family: 'Nunito', sans-serif; font-size:16px; color:#00a242; font-weight:700; padding:0 20px;">
                        Universal EV LLC</td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text" style="padding-top:30px"></td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text" style=""><a href="#" title=""
                            style="background:#00a242; display:block; padding-top:5px;"><img src="cid:callImage"
                                alt=""></a>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="fallback-text"
                        style="background:#e0e0e0; font-weight:700; font-size:14px; color:#333333; font-family: 'Nunito', sans-serif; padding:20px 0;">
                        &copy; 2021 Universal EV LLC</td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="padding:30px 0 0;"></td>
    </tr>
</table>